h1 {
  font-size: 50px;
}

body {
  font-family: Verdana;
  font-weight: normal;
  color: White;
  text-align: center;
  background-color: black;
}

.cta {
    color: Aquamarine;
    font-size: 16px;
}

video {
    object-fit: contain;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: Gray;
}

.footer {
    text-align: right;
}
